{
  "parser": "@typescript-eslint/parser",

  "env": {
    "es6": true
  },

  "parserOptions": {
    "project": ["./tsconfig.json"]
  },

  "ignorePatterns": ["**/*.css", "**/*.scss", "**/*.sass"],

  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],

  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["error", "always"],

    "quotes": "off",
    "@typescript-eslint/quotes": ["error", "double"],

    "@typescript-eslint/type-annotation-spacing": ["error", {
      "before": false,
      "after": true
    }]
  },

  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}