.table {
  font-size: 13px;
  width: 100%;
  border-collapse: collapse;

  .head {
	.row {
	  .item {
		text-transform: uppercase;
		padding: 5px;
		border: 2px solid black;
	  }
	}
  }

  .body {
	.row {
	  cursor: pointer;

	  &:nth-child(odd) {
		background: white;
	  }

	  &:nth-child(even) {
		background: white;
	  }

	  &:hover {
		background: rgba(255, 64, 128, 0.5);
	  }

	  .item {
		padding: 5px;
		border: 2px solid black;
	  }
	}
  }
}